
.fade-in-text {
    animation: fadeIn var(--time);
    -webkit-animation: fadeIn var(--time);
    -moz-animation: fadeIn var(--time);
    -o-animation: fadeIn var(--time);
    -ms-animation: fadeIn var(--time);
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.hero-btn-1 a,
.hero-btn-2 a {
    text-decoration: none;
}

.hero-btn-1 {
  color: var(--color-hero);
	width: 14em;
	height: 3.1em;
	border: 2px solid var(--button-stroke);
	background-color: transparent;
	border-radius: 40px;
	transition: ease-out 0.2s;
  /* size=19px */
	font-size: 1.58rem;
	outline: none;
  position:relative; 
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  z-index: 0;
}
.hero-btn-1:hover {
  color:#ededed;
}

.hero-btn-2 {
  width: 14rem;
}

.hero-btn-overlay {
	text-decoration: none;
  color: inherit;
}

.hero-btn-overlay:hover {
    cursor: pointer;
}

.hero-btn-1:before {
    transition: 0.4s all ease;
    position: absolute;
    top: -2.5%;
    right: 50%;
    bottom: -3.5%;
    left: 50%;
    opacity: 0;
    content: "";
    background-color:rgb(24, 24, 24);
    border-radius: 40px;
}

.hero-btn-1:hover:before {
    transition: 0.4s all ease;
    right: -1%;
    left: -1%;
    z-index: -1;
    opacity: 1;
}

.name-container,
.hero-btn {
  position: relative;
  min-width: fit-content;
  font-family: 'Maven Pro', sans-serif;
}

.name-overlay {
  position: absolute;
  top: -0.4rem;
  /* left: -1.25rem; */
  width: 100%;
  height: 125%;
  background: rgba(0, 0, 0, 0.6);
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
}

.name-overlay--primary {
  border-radius: 23px;
  backdrop-filter: blur(6px);
  background: rgb(220 220 220 / 82%)
}

.name-overlay > * {
  transform: translateX(1rem);
  transition: transform 0.35s;
}

@media screen and (max-width: 925px) {
  .name-overlay > * {
    transform: translateY(1rem);
  }
}

.name-overlay:hover {
  opacity: 1;
}

.name-overlay:hover > * {
  transform: translateX(0);
}

.name-text {
  text-transform: initial;
  font-size: 6.4rem;
  align-self: flex-end;
  padding: 0.1em;
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-weight: 500; */
}



