body {
	--button-border-radius: 40px;
	--button-bg: transparent;
	--button-stroke: rgba(0, 0, 0, 30%);
	--button-stroke-width: 2px;
	--button-text: #000;
	--button-bg-hover: #d8d4cf;
	--button-stroke-hover: #000;
	--button-stroke-width-hover: 0;
	--button-text-hover: #fff;
	--cursor-stroke: rgb(37, 37, 37);
    --cursor-fill: rgb(248, 248, 248);
    --cursor-stroke-width: 0.5px;
	/* --button-filler: rgba(47, 47, 47, 0); */
	--button-filler: #000;
	--color-bg: #ccc;
	--color-hero: #111111ac;
}

.button,
.button_2,
.button_3 {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: var(--button-stroke-width);
	border-color: var(--button-stroke);
	border-style: solid;
	color: var(--button-text);
	background: var(--button-bg);
	border-radius: var(--button-border-radius);
	min-width: 10rem;
	height: 7rem;
	padding: 0;
	margin: 1rem;
	font-family: inherit;
	font-size: 1.5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:focus,
.button--hover {
	outline: none;
	border-width: var(--button-stroke-width-hover);
	border-color: var(--button-stroke-hover);
	color: var(--button-text-hover);
}

.button__filler {
	background: var(--button-filler);
	position: absolute;
	width: 150%;
	height: 200%;
	border-radius: 50%;
	top: -63%;
	left: -25%;
	transform: translate3d(0,85%,0);
}

.button__text,
.button__text-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

/* Add z-index for the image mirror */

.button__go {
	font-size: 2.3rem;
    padding-top: 62%;
	color: #fff;
	z-index: 1;
	font-weight: 500;
}


.button a,
.button_2 a,
.button_3 a {
	text-decoration: none;
}
